.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.card-list__item {
    margin: 10px;
    width: calc(25% - 10px);
    min-width: 200px;
    max-width: 300px;
}